<div class="container p-3">
  <div class="row">
    <div class="col p-2 calorieEntry">
      <div class=" form-wrap">
        <h4> Hello <span></span>!</h4>
        <p> Today's Date is: <span class="currentDate"></span></p>
        <p> Your Calorie Goal for Today is: </p>
        </form>
      </div>
      <div class="col-10">
        <form class="calorie-counter">
          <div class="form-group">
            <label for="foodEaten">Food Eaten</label>
            <input type="text" name="foodEaten" id="foodEaten" class="input-box" style="float:right;" />
          </div>
          <div class="form-group">
            <label for="numberOfServings">Number of Servings</label>
            <input type="number" name="numberOfServings" id="numberOfServings" class="input-box" style="float:right;"
              placeholder="" />
          </div>
          <div class="form-group">
            <label for="caloriesPerServing">Calories Per Serving</label>
            <input type="number" name="caloriesPerServing" id="caloriesPerServing" class="input-box"
              style="float:right;" placeholder="" />
          </div>
          <button type="submit" class="btn btn-danger" style="float:right;">Add</button>
        </form>
        <form class="clear-calorie">
          <button type="submit" class="btn btn-default">Clear Table</button>
        </form>
      </div>
    </div>
    <div class="col-7 p-2" id="calorieTable">
      <table>
        <tr>
          <thead>
            <th>Foods Eaten</th>
            <th>Servings</th>
            <th>Calories per serving</th>
            <th>Meal Calories</th>
            <th>Daily Calorie Total</th>
          </thead>
          <tbody>
            {{#each foodData }}
            <tr>
              <td>{{this.foodname}}</td>
              <td>{{this.food_calories_uom}}</td>
              <td>{{this.servings_consumed}}</td>
              <td>{{this.total_calories}}</td>
              <td>{{this.daily_total_calories}}</td>
            </tr>
            {{/each}}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="js/calorie.js"></script>